.App {
  text-align: center;
  
}

body{

  background-color: #282c34;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  margin-top: -5%;
  color: white;
}

.App-header input
{
  padding: 20px;
  border: 1px solid;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
}

.App button
{
  padding: 15px;
  width: 100%;
  max-width: 185px;
  margin-top: 1%;
  margin-bottom: 1%;
  border: 1px solid;
  border-radius: 5px;
  color: #d64040;
  background: #31353b;
  cursor: pointer;
}

.App button:hover
{
 
  color: #31353b;
  background: #d64040;
  cursor: pointer;
}




